.deck {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.card .container:hover {
    transform: translateY(-3px);
}

.card.flipped .container:hover {
    transform: translateY(-3px) rotateY(0.5turn);
}

.card {
    margin: 5px;
    width: 100px;
    height: calc(100px * 1.4);
    display: inline-block;
    z-index: 2;
    color: #138;
}

.card .container {
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    user-select: none;
    position: relative;
    background: linear-gradient(35deg, #e7e7e7 0%, white 100%);
    border: 1px solid #eee;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    box-shadow: 3px 3px 8px 2px #0002, 1px 1px 2px 1px #1234;
    transform-origin: center center;
    transform-style: preserve-3d;
}

.card .front {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.card div.back {
    top: 0;
    position: absolute;
}

.card.flipped .container {
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: center;
    transform: rotateY(0.5turn);
    backface-visibility: hidden;
}

.card.flipped {
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 13px;
    transform-origin: center;
    transform: rotateY(0.5turn);
    width: 100px;
    height: 140px;
    background-image: url("./images/cards-back.png");
    background-size: 220px;
    background-repeat: no-repeat;
    background-position-y: 5px;
}

.card div.back,
.card div.front {}

.card+.card {
    margin-left: 5px;
}

.card[symbol="♦"],
.card[symbol="♥"] {
    color: #d02;
}

.card-corner {
    font-size: 12px;
    margin: 3px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.card-corner div:nth-child(2) {
    margin-top: -3px;
    font-size: 80%;
}

.symbols+.card-corner {
    top: auto;
    left: auto;
    right: 0px;
    bottom: 0px;
    transform: rotate(0.5turn);
}

.symbols {
    position: relative;
    height: 100%;
}

.symbols div {
    position: absolute;
    font-size: 24px;
}

.card[number="A"] .symbols div:nth-child(1) {
    font-size: 65px;
    top: 25px;
}

.card[number="A"] .symbols div,
.card[number="2"] .symbols div,
.card[number="3"] .symbols div,
.card[number="5"] .symbols div:nth-child(5),
.card[number="7"] .symbols div:nth-child(7),
.card[number="8"] .symbols div:nth-child(7),
.card[number="8"] .symbols div:nth-child(8),
.card[number="9"] .symbols div:nth-child(9),
.card[number="10"] .symbols div:nth-child(9),
.card[number="10"] .symbols div:nth-child(10) {
    left: 50%;
    transform: translateX(-50%);
}

.card[number="2"] .symbols div:nth-child(1),
.card[number="3"] .symbols div:nth-child(1) {
    top: 20px;
}

.card[number="2"] .symbols div:nth-child(2),
.card[number="3"] .symbols div:nth-child(3) {
    bottom: 20px;
    transform: translateX(-50%) rotate(0.5turn);
}

.card[number="3"] .symbols div:nth-child(2),
.card[number="5"] .symbols div:nth-child(5),
.card[number="9"] .symbols div:nth-child(9) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.card[number="4"] .symbols div:nth-child(1),
.card[number="4"] .symbols div:nth-child(2),
.card[number="5"] .symbols div:nth-child(1),
.card[number="5"] .symbols div:nth-child(2),
.card[number="6"] .symbols div:nth-child(1),
.card[number="6"] .symbols div:nth-child(2),
.card[number="7"] .symbols div:nth-child(1),
.card[number="7"] .symbols div:nth-child(2),
.card[number="8"] .symbols div:nth-child(1),
.card[number="8"] .symbols div:nth-child(2),
.card[number="9"] .symbols div:nth-child(1),
.card[number="9"] .symbols div:nth-child(2),
.card[number="10"] .symbols div:nth-child(1),
.card[number="10"] .symbols div:nth-child(2) {
    top: 20px;
}

.card[number="4"] .symbols div:nth-child(3),
.card[number="4"] .symbols div:nth-child(4),
.card[number="5"] .symbols div:nth-child(3),
.card[number="5"] .symbols div:nth-child(4),
.card[number="6"] .symbols div:nth-child(3),
.card[number="6"] .symbols div:nth-child(4),
.card[number="7"] .symbols div:nth-child(3),
.card[number="7"] .symbols div:nth-child(4),
.card[number="8"] .symbols div:nth-child(3),
.card[number="8"] .symbols div:nth-child(4),
.card[number="9"] .symbols div:nth-child(3),
.card[number="9"] .symbols div:nth-child(4),
.card[number="10"] .symbols div:nth-child(3),
.card[number="10"] .symbols div:nth-child(4) {
    bottom: 20px;
    transform: rotate(0.5turn);
}

.card[number="4"] .symbols div:nth-child(1),
.card[number="4"] .symbols div:nth-child(3),
.card[number="5"] .symbols div:nth-child(1),
.card[number="5"] .symbols div:nth-child(3),
.card[number="6"] .symbols div:nth-child(1),
.card[number="6"] .symbols div:nth-child(3),
.card[number="6"] .symbols div:nth-child(5),
.card[number="7"] .symbols div:nth-child(1),
.card[number="7"] .symbols div:nth-child(3),
.card[number="7"] .symbols div:nth-child(5),
.card[number="8"] .symbols div:nth-child(1),
.card[number="8"] .symbols div:nth-child(3),
.card[number="8"] .symbols div:nth-child(5),
.card[number="9"] .symbols div:nth-child(1),
.card[number="9"] .symbols div:nth-child(3),
.card[number="9"] .symbols div:nth-child(5),
.card[number="9"] .symbols div:nth-child(7),
.card[number="10"] .symbols div:nth-child(1),
.card[number="10"] .symbols div:nth-child(3),
.card[number="10"] .symbols div:nth-child(5),
.card[number="10"] .symbols div:nth-child(7) {
    left: 20px;
}

.card[number="4"] .symbols div:nth-child(2),
.card[number="4"] .symbols div:nth-child(4),
.card[number="5"] .symbols div:nth-child(2),
.card[number="5"] .symbols div:nth-child(4),
.card[number="6"] .symbols div:nth-child(2),
.card[number="6"] .symbols div:nth-child(4),
.card[number="6"] .symbols div:nth-child(6),
.card[number="7"] .symbols div:nth-child(2),
.card[number="7"] .symbols div:nth-child(4),
.card[number="7"] .symbols div:nth-child(6),
.card[number="8"] .symbols div:nth-child(2),
.card[number="8"] .symbols div:nth-child(4),
.card[number="8"] .symbols div:nth-child(6),
.card[number="9"] .symbols div:nth-child(2),
.card[number="9"] .symbols div:nth-child(4),
.card[number="9"] .symbols div:nth-child(6),
.card[number="9"] .symbols div:nth-child(8),
.card[number="10"] .symbols div:nth-child(2),
.card[number="10"] .symbols div:nth-child(4),
.card[number="10"] .symbols div:nth-child(6),
.card[number="10"] .symbols div:nth-child(8) {
    right: 20px;
}

.card[number="6"] .symbols div:nth-child(5),
.card[number="6"] .symbols div:nth-child(6),
.card[number="7"] .symbols div:nth-child(5),
.card[number="7"] .symbols div:nth-child(6),
.card[number="8"] .symbols div:nth-child(5),
.card[number="8"] .symbols div:nth-child(6) {
    top: 50%;
    transform: translateY(-50%);
}

.card[number="7"] .symbols div:nth-child(7) {
    top: 35px;
}

.card[number="8"] .symbols div:nth-child(7) {
    top: 35px;
}

.card[number="8"] .symbols div:nth-child(8) {
    bottom: 35px;
    transform: translateX(-50%) rotate(0.5turn);
}

.card[number="9"] .symbols div:nth-child(5),
.card[number="9"] .symbols div:nth-child(6),
.card[number="10"] .symbols div:nth-child(5),
.card[number="10"] .symbols div:nth-child(6) {
    top: 41px;
}

.card[number="9"] .symbols div:nth-child(7),
.card[number="9"] .symbols div:nth-child(8),
.card[number="10"] .symbols div:nth-child(7),
.card[number="10"] .symbols div:nth-child(8) {
    bottom: 41px;
}

.card[number="10"] .symbols div:nth-child(9) {
    top: 30px;
}

.card[number="10"] .symbols div:nth-child(10) {
    bottom: 30px;
}

.card .symbols div.image {
    width: 100px;
    height: 130px;
    background-image: url("./images/cards-front.png");
    background-size: 350px;
    background-repeat: no-repeat;
    background-position-y: 5px;
}

.card[number="Q"] .symbols div.image {
    background-position-y: -120px;
}

.card[number="K"] .symbols div.image {
    background-position-y: -245px;
}

.card[symbol="♦"] .symbols div.image {
    background-position-x: -82px;
}

.card[symbol="♥"] .symbols div.image {
    background-position-x: -169px;
}

.card[symbol="♠"] .symbols div.image {
    background-position-x: -254px;
}

.card[symbol="♣"] .symbols div.image {
    background-position-x: 2px;
}